{% extends "auctions/layout.html" %}

{% block body %}
<div class="container" style="padding-bottom:24px;">
    <div style="width:80%;margin:auto;text-align:center;" class="sub-title">A little more about the Collab</div>
    <div style="width:80%;margin:auto;text-align:center;font-size:20px;" class="sub-title">Inkedama’s purpose is to build a creative outlet for the orphans and sell their digital art to support the Siyakhathala mission of keeping kids off the streets and into careers. </div>
    
    <table style="width:100%;">
        <tr>
            <td style="width:50%;padding:24px;">
                <img src="{{files_path}}/img/boy.jpeg"/>
            </td>
            <td style="width:50%;padding:24px;">
                Siyakhathala We Care is a registered Non-Profit organization (NPO: 068-260) founded in May of 2009 which works in the township of Khayelitsha, Western Cape, South Africa. Siyakhathala improves the lives of orphaned children in the township, as well as victims of neglect, violence, abuse, and rape by providing a safe haven for at-risk children who would otherwise end up in troubling circumstances.
                    
            </td>
        </tr>
        <tr>
            <td style="width:50%;padding:24px;">
                
                They bring hope to these children’s futures by enhancing their educational development with after school tutoring programs, their emotional strength through counseling/support, and physiological well-being through a number of programs intended to keep them off the streets. Siyakhathala We Care currently helps 200 children on a daily basis during the school year and up to 350 children during their yearly Holiday Program and Holiday Camp. 
                    <br/><br/>
                Siyakhathala We Care is currently housed in a number of schools across the region, but have started raising funds for their own facility including classrooms, accommodation, play areas and gardens.
                <br>
                <br>
                <br>
                Inkedama was formed as a B Corp Month Collab in order to raise these funds. 
            </td>
            <td style="width:50%;padding:24px;">
                <img src="{{files_path}}/img/lunchtime.jpeg"/>
            </td>
        </tr>
    </table>
</div>



{% endblock %}