{% extends "auctions/layout.html" %}

{% block body %}

<div class="container" id="container_dark">
    <div class="sub-title"><u>Footprint</u></div>
      <div class="text">
        <h3 class="footprint_text"><center>We get it, blockchain and crypto are bad for the environment....right?</center></h3><br>
        <h3 class="footprint_text"><center>Not quite, not all blockchains were created equal!</center></h3><br>
        <h3 class="footprint_text"><center><a class="anchor_login_text" href="https://blog.polygon.technology/why-eco-friendly-projects-choose-polygon/" target="_blank"><u>Polygon</u></a> is our chain of choice, and they use proof of stake.</center></h5><br>
        <h3 class="footprint_text"><center>That means they use waaaaaayyyy less energy than chains using proof of work</center></h3><br>
        <h3 class="footprint_text"><center>Interested? Read the stats <a class="anchor_login_text" href="https://deluxe-nylon-7a2.notion.site/Polygon-Sustainability-Statistics-8f1c551e76ea4a2da03936434d3fdb52" target="_blank"><u>here!</u></a><br>
        <br>
        <h3 class="footprint_text"><center>We also offset our impact through our B_Corp UK partner, <a class="anchor_login_text" href="https://ecologi.com/nudge" target="_blank"><u>Ecologi</u></a><br>
        <br>
        <div class="image">
          <center><img src="{{files_path}}/img/dude.svg" alt="Dude" style="width: 8%;"></center> 
        </div>
      </div>
  </div>
  <br/>
</div>

{% endblock %}

