{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container" id="container_dark">
      <div class="sub-title"><u> Our Purpose:</u></div>
        <div class="text">
          <h3><center>To create digital art as unique as the individuals that created them.</center></h3>
          <br>
          <h3><center>Each NFT is a one of one and each purchase supports one orphan.</center></h3>
          <br>
          <h3><center>Every time the NFT is traded the orphan artist recieves a royalty, that's pretty cool.</center></h3>
          <br>
          <h3><center>Thanks for supporting our mission to use NFTs as a force for good.</center></h3>
          <br>
          <div class="image">
            <center><img src="{{files_path}}/img/dude.svg" alt="Dude" style="width: 8%;"></center> 
          </div>
        </div>
        <br/>
    </div>
   

{% endblock %}